#root{
    height: auto;
}
#nav_bar{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 5.2rem;
    width: 110%;
    margin-left: -10px;
    padding-left: 40px;
}
#nav_bar a{
    margin-top: 25px;
    margin-left: 100px;
    color: black;
    font-size: 18px;
}
#cart_length{
    margin-left: 30px;
    margin-top: 25px;
}
#cart{
    width: 100%;
    display: grid;
    height: auto;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    gap:20px;


}
.cart_div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 20px;
    padding-bottom:30px;
    padding-right: 20px;
    border-radius: 10px;
    height: auto;
    width: 80%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.brandName{
    margin-left: 20px;
    color: grey;

}
.cart_div img{
    border-radius: 10px;
    width: 90%;
    height: 50%;
}
.remove{
    border: none;
    background-color: rgb(250, 170, 170);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.remove:hover{
    text-decoration: underline;
}
#checkout{
    margin-left: 30px;
    margin-top: 17px;
    padding: 10px 23px 29px 23px;
    border: none;
    border-radius: 10px;
    background-color: rgb(91, 162, 162);
    color: white;
    font-size: 18px;
    height: 30px;
    transition: all ease 0.5s;
    cursor: pointer;
}
#checkout:hover{
    background-color: teal;
}

