#checkout-container{
    height: 40rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    background-image: url("/images/cartBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}
#userDetails{
    box-shadow: rgba(0, 0, 0, 0.826) 0px 1px 4px;
    border-radius: 20px;
    background: white;
    margin: auto;
    width: 20rem;
    height: 25rem;
    text-align: center;
    padding-bottom: 20px;
}
label{
    margin-left: -50px ;
}
input{
    font-size: 17px;
    border: none;
    border-bottom: 1px solid grey;
}

a{

    text-decoration: none;
    color: black;
    font-size: 18px;
}
button{
    border: none;
    background-color: rgb(171, 220, 220);
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    font-weight: 600;
    cursor: pointer; 
    margin-top: 10px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}